In [93]:
# Loading the Database
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()

# Be sure to close the connection
con.close()

# Data Engineering 1

In this assignment, you are working with a relational dataset that captures information
about food health investigations carried out in San Francisco and their outcomes.

Imagine you want to start a new restaurant in San Francisco.

You want to stay away from big restaurant owners who own multiple restaurants.

You also want to pick an area that is trending (hence, a lot of restaurants).

In this exercise, you will write SQL queries to find out the best area and answer business intelligence questions.

The database is stored under `data/sfscores.sqlite` for you to test your queries with, but for this assignment your answers should only be the SQL queries you construct.

The database consists of _3 tables_. The schemas are shown below.

- `businesses`: information relating to restaurant businesses
- `inspections`: information about individual inspection events
- `violations`: information about violation events

The queries you need to implement will increase in difficulty. By the end of this assignment, the focus will be on answering multipart business questions using multistep queries or multiple tables.

## businesses

```
CREATE TABLE businesses (
    business_id INTEGER NOT NULL,
    name VARCHAR(64),
    address VARCHAR(50),
    city VARCHAR(23),
    postal_code VARCHAR(9),
    latitude FLOAT,
    longitude FLOAT,
    phone_number BIGINT,
    "TaxCode" VARCHAR(4),
    business_certificate INTEGER,
    application_date DATE,
    owner_name VARCHAR(99),
    owner_address VARCHAR(74),
    owner_city VARCHAR(22),
    owner_state VARCHAR(14),
    owner_zip VARCHAR(15)
)
```

## violations

```
CREATE TABLE violations (
    business_id TEXT NOT NULL,
    date INTEGER NOT NULL,
    ViolationTypeID TEXT NOT NULL,
    risk_category TEXT NOT NULL,
    description TEXT NOT NULL
)
```

## inspections

```
CREATE TABLE inspections (
    business_id TEXT NOT NULL,
    Score INTEGER,
    date INTEGER NOT NULL,
    type VARCHAR (33) NOT NULL
)

```

# Part 1 - Essentials

## Q1.1 [5 marks]

Write a string which contains a specific SQL query.

The query should find and return the total number of `business_id` in the `businesses` table.

In [94]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()
cur.execute("SELECT COUNT(business_id) FROM businesses")
print(cur.fetchall())
con.close()

[(7613,)]

In [ ]:
# Your query string here
"SELECT COUNT(*) FROM BUSINESSES"

## Q1.2 [5 marks]

Write a string which contains a specific SQL query.

The query should find out how many unique owner names are registered with the San Francisco Food Health Investigation organisation.

The column of unique owner names should be renamed as "unique owner name count".

In [95]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()
cur.execute("SELECT COUNT(DISTINCT OWNER_NAME) AS unique_owner_name_count FROM BUSINESSES WHERE CITY='San Francisco'")
print(cur.fetchall())
con.close()

[(1719,)]

In [ ]:
# Your query string here
"SELECT COUNT(DISTINCT OWNER_NAME) AS unique_owner_name_count FROM BUSINESSES WHERE CITY='San Francisco'"

## Q1.3 [5 marks]

Write a string which contains a specific SQL query.

The query should find out the earliest and latest dates on which a health investigation is recorded in the database.

Give the columns suitable names.

In [96]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()
cur.execute("SELECT MIN(DATE),MAX(DATE) FROM INSPECTIONS")
print(cur.fetchall())
con.close()

[(20131007, 20161215)]

In [ ]:
# Your query string here
"SELECT MIN(DATE),MAX(DATE) FROM INSPECTIONS"

# Part 2 - Groupby

## Q2.1 [10 marks]

Write a string which contains a specific SQL query.

The query should report the distribution of the risk exposure of all violations reported in the database.

The first column of the result should be "risk category".

The second column should be the count of that risk category.

In [97]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()
cur.execute("SELECT RISK_CATEGORY, COUNT(RISK_CATEGORY) FROM VIOLATIONS GROUP BY RISK_CATEGORY")
print(cur.fetchall())
con.close()

[('High Risk', 5608), ('Low Risk', 20996), ('Moderate Risk', 14131)]

In [ ]:
# Your query string here
"SELECT RISK_CATEGORY, COUNT(RISK_CATEGORY) FROM VIOLATIONS GROUP BY RISK_CATEGORY"

## Q2.2 [10 marks]

Write a string which contains a specific SQL query.

The query should report the distribution of the risk exposure of all the violations reported in the database that are **related to temperature**. That is, they contain the word "temperature".

Sort the results in order of highest to lowest frequency.

In [98]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()

cur.execute("SELECT violationtypeid,COUNT(violationtypeid) FROM VIOLATIONS where description like '%temperature%' group by violationtypeid order by count(violationtypeid) desc")
print(cur.fetchall())
con.close()

[('103120', 2777), ('103103', 1638), ('103106', 11)]

In [ ]:
# Your query string here
"SELECT violationtypeid,COUNT(violationtypeid) FROM VIOLATIONS where description like '%temperature%' group by violationtypeid order by count(violationtypeid) desc"

## Q2.3 [10 marks]

Write a string which contains a specific SQL query.

The query should find the restaurant owners (by `owner_name`) who own one or more restaurants in the city, and the number of restaurants they own.

Report only the top 10 owners.

Order this top 10 in descending order of the number of restaurants.

In [99]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()
cur.execute("SELECT OWNER_NAME,COUNT(OWNER_NAME) FROM BUSINESSES GROUP BY OWNER_NAME ORDER BY COUNT(OWNER_NAME) DESC LIMIT 10;")
print(cur.fetchall())
con.close()

[('VOLUME SERVICES AMERICA', 94), ('Department of Children, Youth and their Families', 63), ('SFUSD', 44), ('Volume Services, Inc.', 41), ("Children's Empowerment Inc.", 36), ('SAN FRANCISCO UNIFIED SCHOOL', 34), ('WALGREEN CO.', 17), ('Walgreen Co', 15), ('SMG Food and Beverage LLC', 14), ('STARBUCKS COFFEE CO.', 13)]

In [ ]:
# Your query string here
"SELECT OWNER_NAME,COUNT(OWNER_NAME) FROM BUSINESSES GROUP BY OWNER_NAME ORDER BY COUNT(OWNER_NAME) DESC LIMIT 10;"

# Part 3 - Subqueries and joins

## Q3.1 [15 marks]

Write a string which contains a specific SQL query.


From the businesses table, select the top 5 most popular `postal_code`.

Filter these to only count the restaurants owned by people/entities that
own 10 or more restaurants.

The result should:
* return a row `(postal_code, frequency)` for each 5 selections
* sort by descending order to get the most relevant postal codes

In [100]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()

cur.execute("SELECT POSTAL_CODE,COUNT(POSTAL_CODE) FROM BUSINESSES GROUP BY POSTAL_CODE ORDER BY COUNT(POSTAL_CODE) DESC LIMIT 5")
print(cur.fetchall())
con.close()

[('94110', 704), ('94103', 656), ('94102', 556), ('94133', 538), ('94109', 491)]

## Q3.2 [15 marks]

Write a string which contains a specific SQL query.

Let's get an idea about the inspection score the competition has.

Based on multiple inspections, find out:
- the minimum Score (as `min_score`)
- the average Score (as `avg_score`)
- the maximum Score (as `max_score`)

for all restaurant in postal code `94158`.

The average score should be rounded to one decimal.

In [101]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()

cur.execute("SELECT MIN(SCORE),MAX(SCORE),ROUND(AVG(SCORE),2) FROM(SELECT BUSINESSES.BUSINESS_ID, BUSINESSES.POSTAL_CODE, INSPECTIONS.SCORE FROM BUSINESSES JOIN INSPECTIONS ON BUSINESSES.BUSINESS_ID=INSPECTIONS.BUSINESS_ID) WHERE POSTAL_CODE='94158'")
print(cur.fetchall())
con.close()

[(84, 100, 96.63)]

In [ ]:
# Your query string here
"SELECT MIN(SCORE),MAX(SCORE),ROUND(AVG(SCORE),2) FROM(SELECT BUSINESSES.BUSINESS_ID, BUSINESSES.POSTAL_CODE, INSPECTIONS.SCORE FROM BUSINESSES JOIN INSPECTIONS ON BUSINESSES.BUSINESS_ID=INSPECTIONS.BUSINESS_ID) WHERE POSTAL_CODE=94158"

## Q3.3 [15 marks]

Write a string which contains a specific SQL query.

Look at how many times restaurants with postal code `94158` have committed health violations and group them based on their risk category.

The output should be `(risk_category, count as frequency)` and sorted in descending order by frequency.

In [102]:
import sqlite3
con = sqlite3.connect("sfscores.sqlite")

cur = con.cursor()

cur.execute("SELECT RISK_CATEGORY,COUNT(RISK_CATEGORY) FROM (SELECT BUSINESSES.BUSINESS_ID, BUSINESSES.POSTAL_CODE, VIOLATIONS.RISK_CATEGORY FROM BUSINESSES JOIN VIOLATIONS ON BUSINESSES.BUSINESS_ID=VIOLATIONS.BUSINESS_ID) WHERE POSTAL_CODE='94158'")
print(cur.fetchall())
con.close()

[('High Risk', 19)]

In [ ]:
# Your query string here
"SELECT RISK_CATEGORY,COUNT(RISK_CATEGORY) FROM (SELECT BUSINESSES.BUSINESS_ID, BUSINESSES.POSTAL_CODE, VIOLATIONS.RISK_CATEGORY FROM BUSINESSES JOIN VIOLATIONS ON BUSINESSES.BUSINESS_ID=VIOLATIONS.BUSINESS_ID) WHERE POSTAL_CODE='94158'"